trigger : none
pool: vmss_agent
stages:
  - stage: initandfmt
    displayName: init and validate
    jobs:
      - job: initandvalidate
        displayName: initjob
        steps:
        - task: TerraformInstaller@1
          inputs:
            terraformVersion: 'latest'
        - task: TerraformTask@5
          displayName: terraform init
          inputs:
            provider: 'azurerm'
            command: 'init'
            workingDirectory: '$(System.DefaultWorkingDirectory)/dev'
            backendServiceArm: 'Azure subscription 1(f47d98c3-f2af-4f15-988e-80b41b9098b8)'
            backendAzureRmStorageAccountName: 'mysg'
            backendAzureRmContainerName: 'mycon'
            backendAzureRmKey: 'terraform.state'
        - task: TerraformTask@5
          displayName: terraform validate
          inputs:
            provider: 'azurerm'
            command: 'validate'
            workingDirectory: '$(System.DefaultWorkingDirectory)/dev'
  - stage: tfsec
    displayName: tfsec&tflint
    jobs:
      - job: scanningtool
        displayName: scanning tool
        steps:
        - task: PowerShell@2
          displayName: tfsec
          inputs:
            targetType: 'inline'
            script: 'tfsec'
        - task: PowerShell@2
          displayName: tflint
          inputs:
            targetType: 'inline'
            script: 'tflint'
  - stage: infracost
    dependsOn: initandfmt
    jobs:
      - job: infracost
        displayName: infracost before apply
        steps:
        - task: PowerShell@2
          displayName: terracost
          inputs:
            targetType: 'inline'
            script: |
               & "C:\Tool\infracost.exe" breakdown `
                 --path "$(System.DefaultWorkingDirectory)/dev" `
                 --format table